body {
  margin: 0 !important;
  font-family: Lato;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.085px;
}
.nav_bg {
  background-color: #1c2b35;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
.logo {
  height: 42px;
}
.nav_bg a {
  text-decoration: none;
  color: white;
  margin: 0px 30px;
}
.nav_bg a:hover {
  color: orange;
}
