.card_flex {
  display: flex;
  grid-template-columns: 4fr 1fr;
  /* gap: 4; */
  gap: 45px;
}
.title{
  display: flex;
  justify-content: space-between;
}
.card_w{
  width: 50% !important; 
  text-align: left;
}

.savedcart{
  background-color: rgb(233, 227, 227);
  padding: 50px;
  width:80%;
  height: 100vh;
  position: sticky;
  top: 0;
}


.total_time{
  color: #6047EC;
  border: 1px solid ;
  background-color: rgb(208, 196, 220);
  font-weight: bold;
  padding: 10px;
}
.title_cart{
  background-color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}