h1{
    color: black;
}

#fruits_title{
    color: rgb(34, 34, 37);
}

.important_places{
    color: black;
}

.fruits_container li{
    color: black;
}

.yellow_bg{
    background-color: gray;
    color: black;
}